In [1]:
name="ani kumar"
age=23
height=5.67342
print (name),(age),(height)

ani kumar 23 5.67342

In [2]:
name="ani kumar"
age=23
height=5.67342
print "name:"(name)','"Age:"(age)','"height"(height)

SyntaxError: invalid syntax (<ipython-input-2-e9a49fa86d7f>, line 4)

In [3]:
name="ani kumar"
age=23
height=5.67342
print "name:"(name),+"Age:"(age),+"height"(height)

TypeError: 'str' object is not callable

In [4]:
name="ani kumar"
age=23
height=5.67342
print "name:"(name),+"Age:"(age),+"height"(height)

TypeError: 'str' object is not callable

In [5]:
name="ani kumar"
age=23
height=5.67342
print "name:"+(name),"Age:"+(age),"height"+(height)

name:ani kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
name="ani kumar"
age=23
height=5.67342
print "name:"+name,"Age:"+age,"height"+height

 name:ani kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [7]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name),("Age:"+age),("height"+height)

 name:ani kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [8]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name),("Age:"+str(age)),("height"+str(height))

SyntaxError: invalid syntax (<ipython-input-8-e93b336f05d9>, line 4)

In [9]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name),("Age:"+str(age)),("height"+str(height))

 name:ani kumar Age:23 height5.67342

In [10]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name,),("Age:"+str(age),),("height:"+str(height),)

('name:ani kumar',) ('Age:23',) ('height:5.67342',)

In [11]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name)(,),("Age:"+str(age))(,),("height"+str(height))

SyntaxError: invalid syntax (<ipython-input-11-04dbd2fcc9fa>, line 4)

In [12]:
name="ani kumar"
age=23
height=5.67342
print "name:"+name+",Age:"+str(age),"height+",+str(height)

name:ani kumar,Age:23 height+

TypeError: bad operand type for unary +: 'str'

In [13]:
name="ani kumar"
age=23
height=5.67342
print "name:"+name+",Age:"+str(age)+",height+"+str(height)

 name:ani kumar,Age:23,height+5.67342

In [14]:
s=raw_input("Enter city name:")
print s+had a good climate today

SyntaxError: invalid syntax (<ipython-input-14-903160282cea>, line 2)

In [15]:
s=raw_input("Enter city name:")
print s+"had a good climate today"

Enter city name:hyderbad
hyderbadhad a good climate today

In [ ]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print s1+str(s2)

In [ ]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print s1+str(s2)

In [1]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print s1+str(s2)

Enter product name:apple
Enter cost of the product12.45
apple12.45

In [2]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print "the cost of the" +s1 +"is"+str(s2)

Enter product name:apple
Enter cost of the product12.35
the cost of theappleis12.35

In [3]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print "the cost of the" +s1 +" is "+str(s2)

Enter product name:apple
Enter cost of the product12.35
the cost of theapple is 12.35

In [4]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print "the cost of the " +s1 +" is "+str(s2)

Enter product name:apple
Enter cost of the product12.45
the cost of the apple is 12.45

In [5]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print "the cost of the",s1 ,"is",str(s2)

Enter product name:orange
Enter cost of the product45
the cost of the orange is 45

In [6]:
Name=raw_input("Enter Name")
Age=raw_input("Enter Age")
height=raw_input("Enter height")
print "Name:"+Name",Age:"+str(Age)",height"+str(height)

SyntaxError: invalid syntax (<ipython-input-6-70b9b1737d73>, line 4)

In [7]:
Name=raw_input("Enter Name")
Age=raw_input("Enter Age")
height=raw_input("Enter height")
print "Name:"+Name",Age:"+Age",height"+height

SyntaxError: invalid syntax (<ipython-input-7-3504d4748aff>, line 4)

In [8]:
Name=raw_input("Enter Name")
Age=raw_input("Enter Age")
height=raw_input("Enter height")
print "Name:"+Name

Enter Nameramu
Enter Age12
Enter height45.1
Name:ramu

In [9]:
Name=raw_input("Enter Name")
Age=raw_input("Enter Age")
height=raw_input("Enter height")
print name,type(name)
print Age,type(Age)
print height,type(height)

Enter Nameramu
Enter Age45
Enter height12.65

NameError: name 'name' is not defined

In [11]:
Name=raw_input("Enter Name")
Age=raw_input("Enter Age")
height=raw_input("Enter height")
print "Name:"+Name+", Age:"+Age+", height:"+height

Enter Name12
Enter Age45
Enter height98.2
Name:12, Age:45, height:98.2

In [12]:
s1=raw_input("Enter first number")
s2=raw_input("Enter secound number")

s3=s1+s2
print s3

Enter first number12
Enter secound number45
1245

In [13]:
s1=raw_input("Enter first number")
s2=raw_input("Enter secound number")

s3=int(s1)+int(s2)
print s3

Enter first number12
Enter secound number45
57

In [14]:
s1=raw_input("Enter first number")
s2=raw_input("Enter secound number")
s3=flote(s1)+flote(s2)
print s3

Enter first number12
Enter secound number45

NameError: name 'flote' is not defined

In [ ]:
s1=raw_input("Enter first number")
s2=raw_input("Enter secound number")
s3=float(s1)+float(s2)
print s3