In [1]:
a=raw_input("Enter a value")
b=raw_input("Enter b value")
print a ,type(a)
print b, type(b)

Enter a value10
Enter b value12
10 <type 'str'>
12 <type 'str'>

In [2]:
a=raw_input("Enter a value")
b=raw_input("Enter b value")
print a ,type(a)
print b, type(b)

Enter a value10.23
Enter b value23.4
10.23 <type 'str'>
23.4 <type 'str'>

In [ ]:
a=raw_input("Enter a value")
b=raw_input("Enter b value")
print a ,type(a)
print b, type(b)

In [ ]:
a=raw_input("Enter a value")
b=input("Enter b value")
print a ,type(a)
print b, type(b)

In [ ]:
a=raw_input("Enter a value")
b=input("Enter b value")
print a ,type(a)
print b, type(b)

In [1]:
a=raw_input("Enter a value")
b=input("Enter b value")
print a ,type(a)
print b, type(b)

Enter a value10
Enter b value12
10 <type 'str'>
12 <type 'int'>

In [2]:
a=raw_input("Enter a value")
b=input("Enter b value")
print a ,type(a)
print b, type(b)

Enter a value10.23
Enter b value12.45
10.23 <type 'str'>
12.45 <type 'float'>

In [3]:
a=raw_input("Enter a value")
b=input("Enter b value")
print a ,type(a)
print b, type(b)

Enter a value45
Enter b value65
45 <type 'str'>
65 <type 'int'>

In [4]:

b=input("Enter b value")

print b, type(b)

Enter b value12.35
12.35 <type 'float'>

In [5]:
a=input("Enter a value")
print a,type (a)

Enter a value10
10 <type 'int'>

In [6]:
print'python'
print "python"

python
python

In [7]:
print'python\n ramu'
print "python\n ramu"

python
 ramu
python
 ramu

In [8]:
print 'python 'ramu same''

SyntaxError: invalid syntax (<ipython-input-8-744eac6d79e4>, line 1)

In [9]:
print "it's a "cool"day in hyerabad"

SyntaxError: invalid syntax (<ipython-input-9-0408ff693c2a>, line 1)

In [10]:
print "it's a coolday in hyerabad"

it's a coolday in hyerabad

In [11]:
print "it's a"+" cool" +"day in hyerabad"

it's a coolday in hyerabad

In [12]:
print "it's a"+''" cool " ''+"day in hyerabad"

it's a cool day in hyerabad

In [13]:
print "it's a"+'" cool " '+"day in hyerabad"

it's a" cool " day in hyerabad

In [14]:
print "%s,%d,%f,%r"

%s,%d,%f,%r

In [15]:
cost=12.34
product="apple"
print cost price product int(flote(cost))

SyntaxError: invalid syntax (<ipython-input-15-5ecda059c127>, line 3)

In [16]:
cost=12.34
product="apple"
print cost price product int(float(cost))

SyntaxError: invalid syntax (<ipython-input-16-2003e81711eb>, line 3)

In [17]:
cost=12.34
product="apple"
print "cost price product" int(float(cost))

SyntaxError: invalid syntax (<ipython-input-17-913ad15f751f>, line 3)

In [18]:
cost=12.34
product="apple"
print "cost price product" str(int(cost))

SyntaxError: invalid syntax (<ipython-input-18-fd949b9d728e>, line 3)

In [19]:
cost=12.34
product="apple"
print "cost price product"+ str(int(cost))

cost price product12

In [20]:
cost=12.34
product="apple"
print "cost price product is:"+ str(int(cost))

cost price product is:12

In [21]:
cost=12.34
product="apple"
print "cost price"+ product +"is:"+ str(int(cost))

cost priceappleis:12

In [22]:
#%d<>to convet into int
#%f<> convet into float
#%s<> covert into string
#%r<> convert into raw string
#%x<> covert into hexadecimal
#%o<> covert into octal

In [23]:
cost=12.34
product="apple"
print "cost price"+ product +"%sis:%d"%(product,cost)

cost priceappleappleis:12

In [24]:
name= ramu
age=20
hight=6
weight=45.23
print "name:%s,age:%d,hight:%f,weight:%f"%(name,age,hight,weight)

NameError: name 'ramu' is not defined

In [25]:
name="ramu"
age=20
hight=6
weight=45.23
print "name:%s,age:%d,hight:%f,weight:%f"%(name,age,hight,weight)

name:ramu,age:20,hight:6.000000,weight:45.230000

In [26]:
name="ramu"
age=20
hight=6
weight=45.23
print "name:%s,age:%d,hight:%.2f,weight:%.3f"%(name,age,hight,weight)

name:ramu,age:20,hight:6.00,weight:45.230

In [27]:
s1="this is \n my\n bag"
s2="this is \n my\n bag"
print "%s,%r"%(s1,s2)

this is
 my
 bag,'this is \n my\n bag'

In [28]:
s1="this is \n my\n bag"
print upper(s1)

NameError: name 'upper' is not defined

In [29]:
s1="this is \n my\n bag"
print .upper(s1)

SyntaxError: invalid syntax (<ipython-input-29-c93ae76593fd>, line 2)

In [30]:
s1="this is \n my\n bag"
print ".upper(s1)"

.upper(s1)

In [31]:
s1="this is \n my\n bag"
s2=.upper(s1)
print s2

SyntaxError: invalid syntax (<ipython-input-31-a6723e2cce81>, line 2)

In [32]:
s1="this is \n my\n bag"
s2=s1.upper();
print s2

THIS IS
 MY
 BAG

s1=input("enter user name")
s2=s1.lower();
print s2

In [34]:
s1=raw_input("enter user name")
s2=s1.lower();
print s2

enter user nameranu
ranu

In [35]:
s1=raw_input("enter user name")
s2=s1.lower();
print s2

enter user nameRAJESH
rajesh

In [36]:
name=raw_input("Enter user name:")
age=raw_input("Enter your age")
hight=raw_input("Enter your hight")
print "Name:%s,Age:%r,hight:%f"%(name,age,hight)

Enter user name:rajesh
Enter your age45
Enter your hight5.5

TypeError: float argument required, not str

In [37]:
name=raw_input("Enter user name:")
age=raw_input("Enter your age")
hight=raw_input("Enter your hight")
print "Name:%r,Age:%r,hight:%r"%(name,age,hight)

Enter user name:rajesh
Enter your age45
Enter your hight4.6
Name:'rajesh',Age:'45',hight:'4.6'

In [38]:
name=raw_input("Enter user name:")
age=raw_input("Enter your age")
hight=raw_input("Enter your hight")
print "Name:%s,Age:%s,hight:%s"%(name,age,hight)

Enter user name:rajesh
Enter your age25
Enter your hight5.6
Name:rajesh,Age:25,hight:5.6

In [39]:
name=raw_input("Enter user name:")
age=raw_input("Enter your age")
hight=input("Enter your hight")
print "Name:%s,Age:%s,hight:%f"%(name,age,hight)

Enter user name:rajesh
Enter your age87
Enter your hight5.3
Name:rajesh,Age:87,hight:5.300000

In [40]:
name=raw_input("Enter user name:")
s1=name.upper();
age=raw_input("Enter your age")
hight=input("Enter your hight")
print "Name:%s,Age:%s,hight:%f"%(s1,age,hight)

Enter user name:rajesh
Enter your age56
Enter your hight5.3
Name:RAJESH,Age:56,hight:5.300000

In [41]:
name=raw_input("Enter user name:")
s1=name.upper();
age=raw_input("Enter your age")
hight=input("Enter your hight")
print "Name:%s,Age:%s,hight:%.3f"%(s1,age,hight)

Enter user name:rajesh
Enter your age45
Enter your hight4.2
Name:RAJESH,Age:45,hight:4.200

In [42]:
print "my name is narendra\n i am working in genpact\n it's locate in pocharam\nAdderss:pocharam huderabad"

my name is narendra
 i am working in genpact
 it's locate in pocharam
Adderss:pocharam huderabad

In [43]:
print "my name is narendra\\n i am working in genpact\\n it's locate in pocharam\nAdderss:pocharam huderabad"

my name is narendra\n i am working in genpact\n it's locate in pocharam
Adderss:pocharam huderabad