In [1]:
name="ani kumar"
age=23
height=5.67342
print (name),(age),(height)

ani kumar 23 5.67342

In [2]:
name="ani kumar"
age=23
height=5.67342
print "name:"(name)','"Age:"(age)','"height"(height)

SyntaxError: invalid syntax (<ipython-input-2-e9a49fa86d7f>, line 4)

In [3]:
name="ani kumar"
age=23
height=5.67342
print "name:"(name),+"Age:"(age),+"height"(height)

TypeError: 'str' object is not callable

In [4]:
name="ani kumar"
age=23
height=5.67342
print "name:"(name),+"Age:"(age),+"height"(height)

TypeError: 'str' object is not callable

In [5]:
name="ani kumar"
age=23
height=5.67342
print "name:"+(name),"Age:"+(age),"height"+(height)

name:ani kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
name="ani kumar"
age=23
height=5.67342
print "name:"+name,"Age:"+age,"height"+height

 name:ani kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [7]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name),("Age:"+age),("height"+height)

 name:ani kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [8]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name),("Age:"+str(age)),("height"+str(height))

SyntaxError: invalid syntax (<ipython-input-8-e93b336f05d9>, line 4)

In [9]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name),("Age:"+str(age)),("height"+str(height))

 name:ani kumar Age:23 height5.67342

In [10]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name,),("Age:"+str(age),),("height:"+str(height),)

('name:ani kumar',) ('Age:23',) ('height:5.67342',)

In [11]:
name="ani kumar"
age=23
height=5.67342
print ("name:"+name)(,),("Age:"+str(age))(,),("height"+str(height))

SyntaxError: invalid syntax (<ipython-input-11-04dbd2fcc9fa>, line 4)

In [12]:
name="ani kumar"
age=23
height=5.67342
print "name:"+name+",Age:"+str(age),"height+",+str(height)

name:ani kumar,Age:23 height+

TypeError: bad operand type for unary +: 'str'

In [13]:
name="ani kumar"
age=23
height=5.67342
print "name:"+name+",Age:"+str(age)+",height+"+str(height)

 name:ani kumar,Age:23,height+5.67342

In [14]:
s=raw_input("Enter city name:")
print s+had a good climate today

SyntaxError: invalid syntax (<ipython-input-14-903160282cea>, line 2)

In [15]:
s=raw_input("Enter city name:")
print s+"had a good climate today"

Enter city name:hyderbad
hyderbadhad a good climate today

In [ ]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print s1+str(s2)

In [ ]:
s1=raw_input("Enter product name:")
s2=raw_input("Enter cost of the product")
print s1+str(s2)